In [1]:
import pandas as pd
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim
import requests
import plotly.express as px
from sklearn.cluster import KMeans
import numpy as np
import matplotlib.pyplot as plt

import plotly.graph_objects as go
import networkx as nx

from statistics import mean
pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
pd.set_option('display.float_format', lambda x: f'%.{2}f' % x)
pd.set_option('display.max_colwidth', None)


import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('8Jul2020-14Jul2020.csv')
df['Date'] = pd.to_datetime(df['Start Date'], dayfirst=True)
df.sort_values(by='Date', inplace=True)
df['Date'] = df['Date'].dt.date

cluster = df[['StartStation Name', 'StartStation lat', 'StartStation long']]
cluster.drop_duplicates(keep='first', inplace=True)
cluster.head()

               StartStation Name  StartStation lat  StartStation long
0    Jubilee Plaza, Canary Wharf             51.50              -0.02
1            Ford Road, Old Ford             51.53              -0.03
2           Houndsditch, Aldgate             51.51              -0.08
4  Ossulston Street, Somers Town             51.53              -0.13
6      Endsleigh Gardens, Euston             51.53              -0.13

In [5]:
n_clusters_ = 3
kmeans = KMeans(n_clusters = n_clusters_, init ='k-means++')
kmeans.fit(X) # Compute k-means clustering.
labels = kmeans.fit_predict(X)

# Coordinates of cluster centers.
centers = kmeans.cluster_centers_ 
# print((centers))

# map each station with its region
cluster['clusters'] = labels
cluster.index = cluster['StartStation Name']
cluster_map = cluster['clusters'].to_dict()

df['cluster'] = df['StartStation Name'].map(cluster_map)
df.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,EndStation lat,EndStation long,EndStation nbBikes,EndStation nbStandardBikes,EndStation nbEBikes,EndStation nbEmptyDocks,EndStation nbDocks,StartStation lat,StartStation long,StartStation nbBikes,StartStation nbStandardBikes,StartStation nbEBikes,StartStation nbEmptyDocks,StartStation nbDocks,Date,cluster
0,99188805,780,13656,08/07/2020 00:13,476,"Stebondale Street, Cubitt Town",08/07/2020 00:00,532,"Jubilee Plaza, Canary Wharf",51.49,-0.01,26,24,2,3,29,51.50,-0.02,46,45,1,17,63,2020-07-08,0
1,99188806,180,4393,08/07/2020 00:03,531,"Twig Folly Bridge, Mile End",08/07/2020 00:00,517,"Ford Road, Old Ford",51.53,-0.04,6,6,0,15,21,51.53,-0.03,2,2,0,16,18,2020-07-08,0
2,99188809,960,8973,08/07/2020 00:17,508,"Fournier Street, Whitechapel",08/07/2020 00:01,779,"Houndsditch, Aldgate",51.52,-0.07,8,8,0,10,18,51.51,-0.08,3,3,0,25,28,2020-07-08,0
3,99188810,960,7141,08/07/2020 00:17,508,"Fournier Street, Whitechapel",08/07/2020 00:01,779,"Houndsditch, Aldgate",51.52,-0.07,8,8,0,10,18,51.51,-0.08,3,3,0,25,28,2020-07-08,0
4,99188807,600,15085,08/07/2020 00:11,201,"Dorset Square, Marylebone",08/07/2020 00:01,797,"Ossulston Street, Somers Town",51.52,-0.16,15,15,0,1,16,51.53,-0.13,28,27,1,2,30,2020-07-08,2

In [ ]:
sum_duration = {}
mean_duration = {}

for n in range(3,750):
    print(n)
    n_clusters_ = n
    kmeans = KMeans(n_clusters = n_clusters_, init ='k-means++')
    kmeans.fit(X) # Compute k-means clustering.
    labels = kmeans.fit_predict(X)

    # Coordinates of cluster centers.
    centers = kmeans.cluster_centers_ 
    # print((centers))

    # map each station with its region
    cluster['clusters'] = labels
    cluster.index = cluster['StartStation Name']
    cluster_map = cluster['clusters'].to_dict()

    df['cluster'] = df['StartStation Name'].map(cluster_map)
    
    mean_cluster = df.groupby(['cluster'])['Duration'].mean().values
    
    flag = sum(mean_cluster)
    sum_duration[n] = flag

    flag = mean(mean_cluster)
    mean_duration[n] = flag    
    
# df.head()

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [ ]:
mean_cluster_df = pd.DataFrame(list(mean_duration.items()), columns=['cluster', 'mean'])
mean_cluster_df.head()

### Bar Chart

In [ ]:
fig = px.bar(mean_cluster_df, x='cluster', y='mean')
fig.show()

### Line Chart

In [ ]:
fig = px.line(mean_cluster_df, x='cluster', y='mean')
fig.show()

In [ ]:
sum_cluster_df = pd.DataFrame(list(sum_duration.items()), columns=['cluster', 'sum'])
sum_cluster_df.head()

### Bar Plot

In [ ]:
fig = px.bar(sum_cluster_df, x='cluster', y='sum')
fig.show()

### Line Chart

In [ ]:
fig = px.bar(sum_cluster_df, x='cluster', y='sum')
fig.show()